<!DOCTYPE html>
<html>
<head>
	<title> Questionnaire </title>
</head>
<body>
<form name ="qustionnaire" id="qustionnaire"">
	<div>
		<br>
		<p> <b> 1. Do you want to lose weight? </b> </p>
		<p><input type="radio" name="Q1" value="Yes"> Yes </p>
		<p><input type="radio" name="Q1" value="No"> No </p>
		<br>

		<p> <b> 2. Select your gender </b> </p>
		<p><input type="radio" name="Q2" value="Men"> Men </p>
		<p><input type="radio" name="Q2" value="Women"> Women </p>
		<br>

		<p> <b> 3. What is your desired weight? </b> </p>

		</div>

</form>
</body>
</html>