 <header class="mt-0 pt-0">
    <div class="bg-cover clearfix pt-3">
        <a class="logo" href="http://127.0.0.1:3000/">MyMeal</a>

        <input type="text" id="nav-search" class="nav-search mx-auto" name="" class="form-control">
        <div class="ml-0 mr-0 pb-1">
            <nav class="navbar navbar-expand-md">

                <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse"
                    aria-controls="my-nav" aria-expanded="false" onclick="myFunction(this)"
                    aria-label="Toggle navigation">
                    <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span>
                </button>
                <div id="my-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/users/sign_in">MY ACCOUNT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/blog">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/terms_and_policies">TERMS & POLICIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/about_us">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/contact_us">CONTACT US</a>
                        </li>
                        <li class="nav-item">
                            <%= link_to "SIGN OUT", destroy_user_session_path, class:"nav-link" %>
                        </li>
                        <li class="nav-item">
                            <form action="" method="POST">
                                <div class="input-group mt-0 mx-auto" style="width:16px;">

                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>