<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <title>MyMeal</title>
</head>

<body>
        <!-- <div class="row ml-0 mr-0">
            <div class="col-md-6 pr-0">
                <div class="card">
                    <img class="card-img" src="assets/images/left-img.jpg" alt="">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                        <hr />
                        <h2>Do you need a healthy diet and workout schedule to stay in shape? </h2>
                        <a href="article.html" class="btn">GO</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-0">
                <div class="card">
                    <img class="card-img" src="assets/images/right-img.jpg" alt="">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                        <hr />
                        <h2>Do you need a healthy diet and workout schedule that suits your aliments? </h2>
                        <a href="article.html" class="btn">GO</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 pr-0 first">
                <div class="card">
                    <img class="card-img" src="assets/images/architecture.png" alt="">
                    <div class="card-img-overlay">
                        <h5>Take the quiz</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 pl-0 pr-0">
                <div class="card">
                    <img class="card-img" src="assets/images/interior.png" alt="">
                    <div class="card-img-overlay">
                        <h5>How it works</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 pl-0 pr-0">
                <div class="card">
                    <img class="card-img" src="assets/images/food.png" alt="">
                    <div class="card-img-overlay">
                        <h5>Feedbacks</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 pl-0 last">
                <div class="card">
                    <img class="card-img" src="assets/images/travel.png" alt="">
                    <div class="card-img-overlay">
                        <h5>Find us on social media</h5>
                    </div>
                </div>
            </div>
        </div> -->

    </header>
    <div class="row">
        <!-- <div class="row" style="margin-top: 100px;"> -->
        <div class="col-6">
            <div class="card">
                <img class="card-img" src="assets/images/left-img.jpg" alt="">

            </div>
        </div>
        <div class="col-6">
            <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                <hr />
                <h2 class="img-caption">Do you need a healthy diet and workout schedule to stay in shape? </h2>
                <a href="article.html" class="btn">GO</a>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- <div class="row" style="margin-top: 100px;"> -->
        <div class="col-6">
            <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                <hr />
                <h2 class="img-caption">Do you need a healthy diet and workout schedule that suits your aliments? </h2>
                <a href="article.html" class="btn">GO</a>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img class="card-img" src="assets/images/right-img.jpg" alt="">

            </div>
        </div>
    </div>

    <div class="center-topic">
        <h1>Learn More</h1>
    </div>
    <hr class="center-topic-line">
    <div class="learnmore-content">

        <div class="row">
            <!-- <div class="row" style="margin-top: 100px;"> -->
            <div class="col-6">
                <!-- <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                        <hr />
                        <h2 class="img-caption">Do you need a healthy diet and workout schedule that suits your aliments? </h2>
                        <a href="article.html" class="btn">GO</a>
                    </div> -->
                <div class="card">
                    <img class="card-img" src="assets/images/architecture.png" alt=""><br>
                    <h3>Take the quiz</h3> <br>
                    <ul>
                        <li>
                            MyMeal is all about personalized meal plans. But we also provide workout schedules and other
                            great things to help you achieve results faster.
                        </li>
                        <li>
                            Our team focuses on the expertise of professional nutritionists and studies the complaints
                            of our users. Following that, we develop products that assist people in achieving incredible
                            results.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <img class="card-img" src="assets/images/interior.png" alt=""><br>
                    <h3>How it works</h3> <br>
                    <ol>
                        <li>
                            Tell us about yourself so that we can help personalize the meal plan to your specific needs,
                            preferences, and goals.
                        </li>
                        <li>
                            Find out which points should be prioritized and how to achieve the desired goal.
                        </li>
                        <li>
                            Sri Lankan cuisine is available in MyMeal.
                        </li>
                        <li>
                            With all the benefits MyMeal has to offer, you can see how enjoyable a healthy diet can be!
                        </li>
                    </ol>

                </div>
            </div>
        </div>
    </div>

    <div class="center-topic">
        <h1>Feedbacks</h1>
    </div>
    <hr class="center-topic-line">
    <h4 class="center-sub-topic"> </h4>
    <div class="feedback-content">
        <img class="feedback-img" src="assets/images/paul de silva.jpg" alt=""><br>
        <h3>Paul De Silva</h3>
        <div class="userFeedback">

            <h6>The meals are delicious and similar to what I normally buy, and the recipes are simple to follow. The
                workouts are well-paced; I have asthma and hip arthritis, and I can do the workouts with even less pain.
                I've lost 13 pounds in less than a week. I'll admit that I was skeptical at first, but this is by far
                the most effective and least expensive diet I've ever discovered. Thank you.</h6>
        </div>
    </div>
    <div class="feedback-content">
        <img class="feedback-img" src="assets/images/chandika1.jpg" alt=""><br>
        <h3>Chandrika Wariyapperuma</h3>
        <div class="userFeedback">

            <h6>This website is great. In my opinion, the program is well-designed, and it worked well for me. I lost 6
                pounds in a week. I'm also learning how to prepare meals with new recipes. However, once you've gotten
                used to a few recipes, I'll try to choose them again because they're easier to prepare. I chose a
                gluten-free, plant-based diet because I have health issues. I'm in love with this website.</h6>
        </div>
    </div>
    <div class="feedback-content">
        <img class="feedback-img" src="assets/images/keshani.jpg" alt=""><br>
        <h3>Keshani Gayanthika</h3>
        <div class="userFeedback">

            <h6>I love this website because it keeps me motivated and on track. It also keeps me on top of my schedule.
                The exercises on this website are wonderful. I enjoy the delicious meal plans. Thank you!</h6>
        </div>
        </div>
        <div class="feedback-content">
            <img class="feedback-img" src="assets/images/dhananjaya.jpg" alt=""><br>
            <h3>Dhananjaya Fernando</h3>
            <div class="userFeedback">

                <h6>It assists me with my day-to-day meal planning. It is simple to use and read. Nothing overly fancy
                    or direct. The exercises are practical, and you can feel the results. I love it.</h6>
            </div>
        </div>

        <div class="center-topic">
            <h1>Find us on social media</h1>
        </div>
        <hr class="center-topic-line">
        <h4 class="center-sub-topic">Follow MyMeal public pages for important updates and helpful healthy diet tips</h4>

<div class="icons">
    <!-- <li class="nav-item"> -->
        <a class="nav-link" href="https://facebook.com/fh5co" target="_blank"><i
                class="fab fa-facebook-f"></i></a>
    <!-- </li> -->
    <!-- <li class="nav-item"> -->
        <a class="nav-link" href="https://facebook.com/fh5co" target="_blank"><i
                class="fab fa-twitter"></i></a>
    <!-- </li> -->
    <!-- <li class="nav-item"> -->
        <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
    <!-- </li> -->
    <!-- <li class="nav-item"> -->
        <a class="nav-link" href="#"><i class="fab fa-google-plus-g"></i></a>
    <!-- </li> -->
</div>





        <div class="container-fluid jumbotron-fluid stay mt-5 pt-5 pb-5">
            <h2 class="text-center">We recommend you to consult your physician before starting to follow any program.
            </h2>
            <p class="text-center mt-2">MyMeal is about personal meal plans. But we also offer workout schedules and
                more
                great things that help you maintain a healthy lifestyle.</p>
            <div class="input-group mt-4 mx-auto" style="max-width: 640px">
                <input type="email" class="form-control" placeholder="YOUR EMAIL ADDRESS">
                <div class="">
                    <button class="btn btn-success ml-2" type="submit">GET MY PLAN</button>
                </div>
            </div>
        </div>

        <footer class="container-fluid pt-5">
            <div class="container">
                <h2 class="logo text-center">MyMeal</h2>
                <nav class="nav nav-fill mx-auto mt-5">
                    <li class="nav-item">
                        <a class="nav-link" href="https://facebook.com/fh5co" target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://facebook.com/fh5co" target="_blank"><i
                                class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-google-plus-g"></i></a>
                    </li>
                </nav>
            </div>
            <div class="copyright mt-4">
                <p class="text-center">&copy; 2022 <a href="#" class="text-white">MyMeal</a>. All Rights Reserved.</p>
            </div>
        </footer>

        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/jquery-1.12.0.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.yu2fvl.js"></script>
        <script src="assets/js/main.js"></script>

</body>

</html>