<!doctype html>
<html lang="en">

<body>
    <div class="row ml-0 mr-0">
        <div class="col-md-6 pr-0">
            <div class="card">
                <img class="card-img" src="assets/images/left-img.jpg" alt="">
                <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                    <hr />
                    <h2>Do you need a healthy diet and workout schedule to stay in shape? </h2>
                    <a href="article.html" class="btn">GO</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 pl-0">
            <div class="card">
                <img class="card-img" src="assets/images/right-img.jpg" alt="">
                <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                    <hr />
                    <h2>Do you need a healthy diet and workout schedule that suits your aliments? </h2>
                    <a href="article.html" class="btn">GO</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 pr-0 first">
            <div class="card">
                <img class="card-img" src="assets/images/architecture.png" alt="">
                <div class="card-img-overlay">
                    <h5>Take the quiz</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 pl-0 pr-0">
            <div class="card">
                <img class="card-img" src="assets/images/interior.png" alt="">
                <div class="card-img-overlay">
                    <h5>How it works</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 pl-0 pr-0">
            <div class="card">
                <img class="card-img" src="assets/images/food.png" alt="">
                <div class="card-img-overlay">
                    <h5>Feedbacks</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 pl-0 last">
            <div class="card">
                <img class="card-img" src="assets/images/travel.png" alt="">
                <div class="card-img-overlay">
                    <h5>Find us on social media</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid jumbotron-fluid stay mt-5 pt-5 pb-5">
        <h2 class="text-center">We recommend you to consult your physician before starting to follow any program.</h2>
        <p class="text-center mt-2">MyMeal is about personal meal plans. But we also offer workout schedules and more great things that help you maintain a healthy lifestyle.</p>
        <div class="input-group mt-4 mx-auto" style="max-width: 640px">
            <input type="email" class="form-control" placeholder="YOUR EMAIL ADDRESS">
            <div class="">
                <button class="btn btn-success ml-2" type="submit">GET MY PLAN</button>
            </div>
        </div>
    </div>

    <footer class="container-fluid pt-5">
        <div class="container">
            <h2 class="logo text-center">MyMeal</h2>
            <nav class="nav nav-fill mx-auto mt-5">
                <li class="nav-item">
                    <a class="nav-link" href="https://facebook.com/fh5co" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://facebook.com/fh5co" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-google-plus-g"></i></a>
                </li>
            </nav>
        </div>
        <div class="copyright mt-4">
            <p class="text-center">&copy; 2022 <a href="#" class="text-white">MyMeal</a>. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/jquery-1.12.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.yu2fvl.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>