<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="row center-xs">
            <div class="col-md">
                <h2 class="section-title">Blog</h2>
            </div>
        </div>
    </div>
    <div class="padding-small">
        <div class="row margin-bottom-small">
            <div class="col-md-4">
                <div class="hover-outer-box">
                    <img src="/assets/project-1.jpg">
                    <div class="hover-inner-box">
                        <div class="hover-content">
                            <h3>Blog 01</h3>
                            <p>How to get rid of lower belly fat: Tips for females</p>
                            <a href=""><button class="light">Click here</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hover-outer-box">
                    <img src="/assets/project-2.jpg">
                    <div class="hover-inner-box">
                        <div class="hover-content">
                            <h3>Blog 02</h3>
                            <p>Snacks with no carbs for school, office, travel, and home</p>
                            <a href=""><button class="light">Click here</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hover-outer-box">
                    <img src="/assets/project-3.jpeg">
                    <div class="hover-inner-box">
                        <div class="hover-content">
                            <h3>Blog 03</h3>
                            <p>10 must-know intuitive eating principles to eat when and what you want</p>
                            <a href=""><button class="light">Click here</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-small">
            <div class="col-md-4">
                <div class="hover-outer-box">
                    <img src="/assets/project-4.jpg">
                    <div class="hover-inner-box">
                        <div class="hover-content">
                            <h3>Blog 04</h3>
                            <p>How to successfully burn 1000 calories a day</p>
                            <a href=""><button class="light">Click here</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hover-outer-box">
                    <img src="/assets/project-5.jpg">
                    <div class="hover-inner-box">
                        <div class="hover-content">
                            <h3>Blog 05</h3>
                            <p>Healthy 1500 calorie meal plan for weight loss</p>
                            <a href=""><button class="light">Click here</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hover-outer-box">
                    <img src="/assets/project-6.jpg">
                    <div class="hover-inner-box">
                        <div class="hover-content">
                            <h3>Blog 06</h3>
                            <p>How to gain weight with a fast msetabolism?</p>
                            <a href=""><button class="light">Click here</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 <script src="https://cdn.polyfill.io/v2/polyfill.min.js?callback=polyfillsAreLoaded" defer></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="js/script.js" defer></script>
